html {
  background-color: #D0CCD0;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 56px;
  text-align: center;
  color: #011936;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 450px;
  height: 450px;
  margin: 0 auto;
  background-color: #FBFCFF;
  font-family: 'Indie Flower', cursive;
  color: #011936;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  border: 1px solid lightgrey;
}

.square:hover {
  background-color: #1C6E8C;
  color: #FBFCFF;
  cursor: pointer;
}

.win-0, .win-1, .win-2 {
  background-color: #1C6E8C;  
  color: #FBFCFF;
  transition:all 1000ms ease;
}

.win-3, .win-4, .win-5 {
  background-color: #1C6E8C;
  color: #FBFCFF;  
  transition:all 1000ms ease;
}

.win-6 {
  background-color: #1C6E8C;
  color: #FBFCFF;
  transition:all 1000ms ease;
}

.win-7 {
  background-color: #1C6E8C;
  color: #FBFCFF;
  transition:all 1000ms ease;
}

#winner {
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  background-color: #FBFCFF;
  width: 600px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  color: #011936;
  
}

#winner:hover {
  cursor: pointer;
}
